In [ ]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1     Ekonomi     61     perempuan   12B
1         2       Kimia     25     laki-laki   12D
2         3     Ekonomi     93     perempuan   12B
3         4       Kimia     87     perempuan   12C
4         5  Matematika      4     laki-laki   12D

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [ ]:
# code here
# Data kolom nilai dan kelas
df.loc[:,['nilai', 'kelas']]

    nilai kelas
0      61   12B
1      25   12D
2      93   12B
3      87   12C
4       4   12D
5      73   12D
6      39   12B
7      64   12D
8       7   12D
9      59   12D
10     72   12C
11     81   12C
12     88   12B
13     49   12A
14     19   12D
15     17   12B
16      4   12A
17     26   12C
18     99   12C
19     69   12D

In [ ]:
# Data baris ke 5-10 pada kolom pelajaran dan nilai
df.loc[4:9,['pelajaran', 'nilai']]

    pelajaran  nilai
4  Matematika      4
5     Biologi     73
6  Matematika     39
7     Geologi     64
8     Geologi      7
9       Kimia     59

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# code here
# Data pada pelajaran Ekonomi dan Fisika
df1 = df[(df.pelajaran == 'Ekonomi') | (df.pelajaran == 'Fisika')]
print(df1, '\n')

# Data dengan nilai > 50 di pelajaran Kimia
df2 = df[(df.nilai > 50) & (df.pelajaran == 'Kimia')]
print(df2, '\n')

# Data dengan nilai > 70 berjenis kelamin perempuan di kelas 12C
df3 = df[(df.nilai > 70) & (df['jenis-kelamin'] == 'perempuan') & (df.kelas == '12C')]
print(df3)

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1   Ekonomi     61     perempuan   12B
2          3   Ekonomi     93     perempuan   12B
10        11   Ekonomi     72     laki-laki   12C
12        13   Ekonomi     88     perempuan   12B
15        16    Fisika     17     laki-laki   12B
16        17    Fisika      4     laki-laki   12A
18        19    Fisika     99     laki-laki   12C
19        20    Fisika     69     perempuan   12D

    siswa_id pelajaran  nilai jenis-kelamin kelas
3          4     Kimia     87     perempuan   12C
9         10     Kimia     59     laki-laki   12D
11        12     Kimia     81     perempuan   12C

    siswa_id pelajaran  nilai jenis-kelamin kelas
3          4     Kimia     87     perempuan   12C
11        12     Kimia     81     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
# code here
def normalisasi(x):
  return (x - x.min()) / (x.max() - x.min())

print(df[['nilai']].apply(normalisasi))

       nilai
0   0.600000
1   0.221053
2   0.936842
3   0.873684
4   0.000000
5   0.726316
6   0.368421
7   0.631579
8   0.031579
9   0.578947
10  0.715789
11  0.810526
12  0.884211
13  0.473684
14  0.157895
15  0.136842
16  0.000000
17  0.231579
18  1.000000
19  0.684211